<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Categorias</h1>
        <div>
            <table th:if="${categorias != null}">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Ação</th>
                </tr>
                <tr th:each="cat : ${categorias}">
                    <td th:text="${cat.id}">ID</td>
                    <td th:text="${cat.nome}">Nome</td>
                    <td>Alterar | Remover</td>
                </tr>
            </table>
            <a th:href="@{/categoria/novo}">Adicionar nova</a>
        </div>
    </body>
</html>
